@using SLT.Assets.Extension;

<div class="flex-center-center">
    <span class="copywrite-wrap">&copy; 2025 - Stein Lundbeck</span>
    <a href="mailto:stein@sltech.no" title="Email"><span class="separator envelope">/</span><icon awesome="EnvelopeFull" /></a>
</div>
<div class="flex-center-center">
    <a asp-controller="SLT" asp-action="Index" title="@Utility.LocalValue["WordHome"].Value"><icon awesome="House" />@Utility.LocalValue["WordHome"].Value</a>
    <span class="separator">|</span>
    <a asp-controller="SLT" asp-action="Products" title="@Utility.LocalValue["WordProducts"].Value"><icon awesome="Code" />@Utility.LocalValue["WordProducts"].Value</a>
    <span class="separator">|</span>
    <a asp-controller="SLT" asp-action="Technology" title="@Utility.LocalValue["WordTechnology"].Value"><icon awesome="Gears" />@Utility.LocalValue["WordTechnology"].Value</a>
    <span class="separator">|</span>
    <a href="https://github.com/SteinLundbeckTech" title="GitHub" target="_blank"><icon awesome="GitHubLogo" />GitHub</a>
    <span class="separator">|</span>
    <a href="@("/CONTENT/" + (Utility.Cache.Culture.IsNorwegian() ? "Stein-Lundbeck-CV.pdf" : "Stein-Lundbeck-CV-english.pdf"))" title="CV"><icon awesome="File" />CV</a>
</div>
