@using SLT.Assets.Data.Model.Content;

@{
    Layout = "_IndexLayout";
}

<site:view files="Index.css" />

<div>
    <div class="section-services">
        <h2 class="slogan">@Utility.LocalValue["BasicSlogan"].Value</h2>
        <hr class="mrg-lg mrg-auto separator" />
        <h3 class="section-label"><img src="~/IMAGE/globe-icon.png" style="width:96px;" class="section-icon" />@Utility.LocalValue["WordServices"].Value</h3>
        <div class="mrg-lg-top list-wrap">
            <h3>Design</h3>
            <h3>@Utility.LocalValue["WordDevelopment"].Value</h3>
            <h3>Hosting > @Utility.LocalValue["ServiceList"].Value</h3>
        </div>

        <div class="read-more-wrap">
            <a asp-controller="SLT" asp-action="Services" title="@Utility.LocalValue["ReadMore"].Value" class="read-more-link read-button"><icon awesome="InfoCircle" class="section-icon" />@Utility.LocalValue["ReadMore"].Value</a>
        </div>
    </div>
    <div class="section-one">
        <hr class="mrg-lg mrg-auto separator" />
        <h3 class="section-label"><icon awesome="Code" class="section-icon" />@Utility.LocalValue["PhraseProductsFromSLT"].Value</h3>
        <div class="product-icon-wrap flex-center">
            <div>
                <a asp-controller="SLT" asp-action="Products" title="Creator framework">
                    <img logo="Creator" class="r" />
                </a>
                <br />
                <span class="name">Creator</span>
            </div>
            <div>
                <a asp-controller="SLT" asp-action="Products" title="SLT Assets">
                    <img logo="Assets" class="r" />
                    <br />
                    <span class="name">Assets</span>
                </a>
            </div>
        </div>

        <div class="read-more-wrap">
            <a asp-controller="SLT" asp-action="Products" title="@Utility.LocalValue["ReadMore"].Value" class="read-more-link read-button"><icon awesome="InfoCircle" />@Utility.LocalValue["ReadMore"].Value</a>
        </div>
    </div>
    <div class="section-two">
        <hr class="mrg-lg mrg-auto separator" />
        <div class="tech-wrap align-center">
            <h3 class="section-label"><icon awesome="Gears" class="section-icon" /> @Utility.LocalValue["WordTechnology"].Value</h3>
            <a asp-controller="SLT" asp-action="Technology" title="Tech" class="align-center">
                <div class="flex-center-center tech-logo-wrap">
                    <img logo="NetCore" />
                    <img logo="JavaScript" />
                    <img logo="CSS" />
                    <img logo="CSharp" />
                </div>
            </a>
        </div>
        <div class="read-more-wrap">
            <a asp-controller="SLT" asp-action="Technology" title="@Utility.LocalValue["ReadMore"].Value" class="read-more-link read-button"><icon awesome="InfoCircle" class="section-icon" />@Utility.LocalValue["ReadMore"].Value</a>
        </div>
    </div>
</div>
